.texto{
    /* color: rgb(242, 249, 255); */
    color:rgb(27, 27, 27);
}
.spool {
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    color: rgb(73, 101, 194);
    font-family: Consolas, monospace;
    font-size: 17px;
} 